---
// Static website footer year
const year = new Date().getFullYear();
---

<footer class="py-20">
  <div class="px-4 xl:px-10">
    <div class="pb-6 lg:pb-10 border-b border-gray-100">
      <div class="flex flex-wrap items-start justify-between">
        <div class="w-full md:w-1/3">
          <!-- TODO The logo is not item-center (in line with the nav) -->
          <a class="inline-block text-gray-900 text-lg font-semibold" href="/">
            <span class="text-lg font-semibold">
              <span class="text-red-400">&raquo;</span> andygrunwald
            </span>
          </a>
        </div>
        <div class="w-auto">
          <div
            class="flex flex-wrap md:items-center md:justify-end mt-4 md:mt-0"
          >
            <ul
              class="w-full lg:w-auto inline-flex flex-wrap flex-col md:flex-row  mb-4 lg:mb-0 md:mr-6 lg:mr-12"
            >
              <li class="mr-12 mb-2 md:mb-0">
                <a
                  class="text-sm font-medium"
                  href="/blog/"
                  title="Blog of Andy Grunwald"
                >
                  ✍️ Blog
                </a>
              </li>
              <li class="mr-12 mb-2 md:mb-0">
                <a
                  class="text-sm font-medium"
                  href="https://engineeringkiosk.dev/"
                  title="Engineering Kiosk Podcast"
                >
                  🎙️ Engineering Kiosk Podcast
                </a>
              </li>
              <li class="mr-12 mb-2 md:mb-0">
                <a
                  class="text-sm font-medium"
                  href="/about/"
                  title="About Andy Grunwald"
                >
                  About
                </a>
              </li>
              <!--
                                TODO Activate pages
                             
                            <li class="mr-12 mb-2 md:mb-0"><a class="text-sm font-medium" href="#">Projects</a></li>
                            <li class="mb-2 md:mb-0"><a class="text-sm font-medium" href="#">Contact</a></li>
                            -->
            </ul>
            <!--
                                TODO Activate pages
                        <a class="inline-block mr-auto lg:mr-0 py-4 px-8 text-sm text-red-500 font-medium leading-normal bg-red-50 hover:bg-red-100 rounded transition duration-200" href="#">
                            Work with me
                        </a>
                        -->
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="flex flex-wrap justify-between items-center">
        <p class="text-sm text-gray-500 mt-8">
          All rights reserved © Andy Grunwald {year}
        </p>
        <div class="flex order-first sm:order-last mt-8">
          <a
            class="flex justify-center items-center w-10 h-10 mr-4 bg-gray-50 rounded-full"
            href="https://twitter.com/andygrunwald"
            title="Andy Grunwald at twitter"
          >
            <svg
              class="text-gray-500"
              width="21"
              height="19"
              viewBox="0 0 13 11"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.5455 2.09728C12.0904 2.29892 11.6022 2.43566 11.0892 2.49671C11.613 2.18304 12.014 1.6855 12.204 1.09447C11.7127 1.38496 11.1703 1.59589 10.5924 1.71023C10.1296 1.21655 9.47138 0.909058 8.74128 0.909058C7.34059 0.909058 6.20489 2.04475 6.20489 3.44467C6.20489 3.64322 6.2273 3.83714 6.27057 4.02257C4.16298 3.91671 2.29411 2.90696 1.0433 1.37259C0.824652 1.74653 0.700269 2.18225 0.700269 2.64736C0.700269 3.52734 1.14837 4.30379 1.82825 4.75805C1.41259 4.74415 1.02166 4.62981 0.67942 4.43975V4.47142C0.67942 5.69983 1.55399 6.72504 2.71362 6.95837C2.50116 7.01554 2.27712 7.04722 2.04534 7.04722C1.88156 7.04722 1.72318 7.031 1.56788 7.00009C1.89081 8.00831 2.8272 8.74148 3.93663 8.76158C3.06902 9.44146 1.97504 9.84552 0.786814 9.84552C0.582087 9.84552 0.38043 9.83316 0.181885 9.81076C1.30445 10.5316 2.63716 10.9519 4.06952 10.9519C8.73514 10.9519 11.2854 7.0874 11.2854 3.73595L11.2769 3.4076C11.7752 3.05219 12.2063 2.60564 12.5455 2.09728Z"
                fill="currentColor"></path>
            </svg>
          </a>
          <a
            class="flex justify-center items-center w-10 h-10 mr-4 bg-gray-50 rounded-full"
            href="https://github.com/andygrunwald"
            title="Andy Grunwald at GitHub"
          >
            <svg
              class="text-gray-500"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g fill="#838EA4">
                <path
                  d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
                ></path>
              </g>
            </svg>
          </a>
          <a
            class="flex justify-center items-center w-10 h-10 mr-4 bg-gray-50 rounded-full"
            href="https://www.linkedin.com/in/andy-grunwald-09aa265a/"
            title="Andy Grunwald at LinkedIn"
          >
            <svg
              class="text-gray-500"
              width="20"
              height="20"
              viewBox="0 0 12 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.8 0H1.2C0.54 0 0 0.54 0 1.2V10.8C0 11.46 0.54 12 1.2 12H10.8C11.46 12 12 11.46 12 10.8V1.2C12 0.54 11.46 0 10.8 0ZM3.6 10.2H1.8V4.8H3.6V10.2ZM2.7 3.78C2.1 3.78 1.62 3.3 1.62 2.7C1.62 2.1 2.1 1.62 2.7 1.62C3.3 1.62 3.78 2.1 3.78 2.7C3.78 3.3 3.3 3.78 2.7 3.78ZM10.2 10.2H8.4V7.02C8.4 6.54002 7.98 6.12 7.5 6.12C7.02 6.12 6.6 6.54002 6.6 7.02V10.2H4.8V4.8H6.6V5.52C6.9 5.04 7.56 4.68 8.1 4.68C9.24 4.68 10.2 5.64 10.2 6.78V10.2Z"
                fill="currentColor"></path>
            </svg>
          </a>
          <a
            class="flex justify-center items-center w-10 h-10 mr-4 bg-gray-50 rounded-full"
            href="mailto:andygrunwald@gmail.com"
            title="Write Andy Grunwald an email"
          >
            <svg
              class="text-gray-500"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g fill="#838EA4">
                <path
                  d="M0 3v18h24v-18h-24zm21.518 2l-9.518 7.713-9.518-7.713h19.036zm-19.518 14v-11.817l10 8.104 10-8.104v11.817h-20z"
                ></path>
              </g>
            </svg>
          </a>
          <a
            class="flex justify-center items-center w-10 h-10 bg-gray-50 rounded-full"
            href="/rss.xml"
            title="RSS Feed of andygrunwald.com"
          >
            <svg
              class="text-gray-500"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g fill="#838EA4">
                <path
                  d="M6.503 20.752c0 1.794-1.456 3.248-3.251 3.248-1.796 0-3.252-1.454-3.252-3.248 0-1.794 1.456-3.248 3.252-3.248 1.795.001 3.251 1.454 3.251 3.248zm-6.503-12.572v4.811c6.05.062 10.96 4.966 11.022 11.009h4.817c-.062-8.71-7.118-15.758-15.839-15.82zm0-3.368c10.58.046 19.152 8.594 19.183 19.188h4.817c-.03-13.231-10.755-23.954-24-24v4.812z"
                ></path>
              </g>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
