name: Astro build

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "5 1 * * *" # Run nightly
  workflow_dispatch:

jobs:
  testing:
    name: Astro build
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: 22.19.0

      - name: Run make clean
        run: make clean

      - name: Run make init
        run: make init

      - name: Run make build
        run: make build
