name: Links

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: '00 18 * * 1'

jobs:
  linkChecker:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: actions/setup-node@v6.0.0
        with:
          node-version: 22.19.0

      - name: Run make clean
        run: make clean

      - name: Run make init
        run: make init

      - name: Run make build
        run: make build

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2.7.0
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          args: "--no-progress './dist/**/*.html' './dist/**/*.xml' --exclude 'fonts\\.gstatic\\.com' --exclude 'www\\.linkedin\\.com/in/' --exclude 'php@7.2'"
